body{
background-color: rgb(177, 0, 0)!important;

}

.papalogonav{
width: 80px;
height: 80px;

}
.backgroundnav{
background-color: rgba(233, 217, 0, 0.856);
}
a{
color: rgb(177, 0, 0)!important;
font-family: Arial, Helvetica, sans-serif;
font-style: italic;
padding-left: 20px;

}
.imgfooter{
    width: 80px;
    height: 60px;
}
footer{
    background-color: rgba(0, 0, 0, 0.411);
}
