body{
background-color: rgb(177, 0, 0)!important;

}

.papalogonav{
width: 80px;
height: 80px;

}
.backgroundnav{
background-color: rgba(233, 217, 0, 0.856);
}
a{
color: rgb(177, 0, 0)!important;
font-family: Arial, Helvetica, sans-serif;
font-style: italic;
padding-left: 20px;

}
.imgfooter{
    width: 80px;
    height: 60px;
}
footer{
    background-color: rgba(0, 0, 0, 0.411);
}

.imgcorte{
    width: 80px;
    height: 60px;
}
ul.b {
  list-style-type: square;
}
.titulo{
  text-decoration: underline;
  text-align: center;
  color:#000000
  
}
div.gallery {
  margin: 5px;
  border: 0px solid #ccc;
  float: left;
  width: 500px;
  }
            
div.gallery:hover {
  border: 0px solid #777;
  }
            
div.gallery img {
  width: 500px;
  height: 400px;
  }
            
div.desc {
  padding: 15px;
  text-align: left;
  }